<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <title>Document</title>
</head>
<body>
    <div id="header">
        <nav>
            <form action="./">
                <input type="text" size="20"/>
            </form>
        </nav>
        <nav id="menu_loaisanpham">
            {% block menuloaisanpham %}
                you are wrong something
            {% endblock%}
        </nav>
    </div>
    <div id="Menu_HangSanXuat">

    </div>
    <div id="content">

    </div>
    <div id="footer">
        Design by sudent of FIT - HCMUS
    </div>
</body>
</html>